.input {
	width: 7em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.blink {
  animation: blinker 1s step-start 15;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
